$primary: #00b9ff;

$sucesso: #03bb85;

$background-light: #dae4e9;
$background-grey-light: #f4fafa;
$background-grey: #fbfbf8;
$background-grey-dark: #d7d8d7;
$background-dark: #92aab4;
$background-dark-absolute: #2c2530;

$border-light: #dae4e9;
$border-grey-light: #fffafa;
$border-grey: #a9a9a9;

$font-light: #0c0c0b;

$font-gray: #c8a2c8;

$font-dark: #494c4e;
