@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@300;500;800&family=Roboto:ital,wght@0,700;1,400&display=swap');

.top-bar{
    
    background: rgb(218, 219, 219);
background: linear-gradient(360deg, rgba(0,185,255,0) 0%, rgba(2,3,4,0.9444152661064426) 4%);

    width: 100%;

    .ui.grid {
        
        margin: 0;
        padding: 0;
        .column{
            padding: 0;
        }
    }

    &__left{
        display: flex !important;
        align-items: center;
       
        img {
            height: 25px;
            transition: all 0.7s;

            &:hover{
                transform: translateX(16px);
            }
        }
    }

 
   &__right{
       display: flex !important;
       align-items: center;
       justify-content: flex-end;
       

             ui.icon.input>input{
               padding-right: 5px !important;
               }

       .ui.input {
           align-items: center;
           margin-right: 70px;
           

           input {
               background-color: transparent !important;
               border: 0;
               border-bottom: 2px solid $primary !important;
               border-radius: 0;
               color: #FFF !important;
               font-size: 20px;
               padding: 5px 0 !important;
               width: 220px;
               transition:  width 0.7s;
               

               &:focus {
                   width: 330px;
               }

             
           }

             i {
                   color: $primary;
                   opacity: 1 !important;
                   font-size: 20px;
                   right: -45px !important;
                   
               }
       }
   }

}

.Ecommerce {
    font-family: 'Bebas Neue', cursive !important; 
    font-size: 30px !important;
    margin: 0 400px 0 0;
    padding: 0;
}