.header-produto {
    &.ui.grid {
        margin: 0;
    }
    &__title {
        position: relative;
        background-color: rgb(44, 44, 44);
        padding: 10px 0;
        color: rgb(248,248,248);
        text-align: center;
        font-size: 22px;
        font-weight: bold;
        border-radius: 5px;

        i.icon {
            position:absolute;
            height: 100%;
            top: 0;
            margin: 0 0 0 10px;
            display: flex;
            align-items: center;
            font-size: 20px;
            opacity: 1 !important;
            
            &.like {
                color: orangered;
            }
        }
    }
    &__delivery {
        text-align: center;
        color: rgb(44, 44, 44);
        font-weight: bold;
        font-size: 20px;
        padding: 10px 0;
    }

    &__buy {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: rgb(44, 44, 44);
        color: rgb(248,248,248);
        padding: 15px 20px;
        margin-top: 20px;
        font-size: 18px;

        &-price {
           display: flex;
           flex-direction: column;
            
           > p {
               text-align: center;
               color: rgba(248,248,248,0.5);
               margin: 0;
           }

           &-actions {
               display: flex;
               justify-content: space-between;
               align-items: baseline;

               > p {
                   margin: 0;
                   font-weight: bold;

                   &:first-of-type {
                       font-size: 25px;
                   }

                   &:last-of-type {
                       font-size: 40px;
                       color: orangered;
                   }
               }
           }
        }

        &-btn.ui.button {
            
            background-color:rgb(248,248,248) !important;
            color: rgb(44, 44, 44) !important;
             font-size: 18px;
            transition: 0.3s;

            &:hover {
               
                background-color:$primary !important;
            color: orangered !important;
            }
            
           

        }
    }

    &__summary {
        background-color: white;
        padding: 20px;
        font-size: 17px;
        border-radius:  0 5px 5px ;
        
    }
}