.change-email-form {
  padding: 20px 15px;

 

  > h4 {
      font-size: 22px;

      > span {
          font-weight: 100;
          font-size: 12px;
          margin: 5px; 
      }
     
  }

   >form {
       text-align: center;

       .submit {
           padding: 12px 60px;
       }
   }
}