
.fundo{

  background: rgb(0,185,255);
background: linear-gradient(360deg, rgba(0,185,255,0) 0%, rgba(2,3,4,1) 0%);
  padding: 30px;
}


.menu {
  
    .home {
      display: none !important;
    }
  border-radius: 0;
  
  .ui.grid {
    margin: 10px;
    
  }

  &__left,
  &__right {
    
    padding: 10px 0px 0px !important;
    margin: 5px !important;
   
    
    
    display: flex !important;
    align-items: center;

    .ui.menu {
      border: 0;
      box-shadow: none;
      height: 100%;
      background: $background-light;
      color: #0c0c0b !important;
      

      .icon {
        margin-right: 10px !important;
        
        font-size: 15px;
        color: #1a0061;
        
      }

      .item {
        color: #1a0061 !important;
        
        
        border-radius: 5px !important;
        transition: all 0.6s;
        
        &:hover {
          transition: all 0.6s;
          color: black !important;
          background-color: $primary;
          
          border-radius: 5px !important;
          .icon{               
                  color: $font-light;                 
          }
          &:before {
              color: $font-light;
            background-color: $primary;
          }
        }

        &.m-0 i {
          margin: 0 !important;
        }
      }
    }
  }

  &__right {
    display: flex;
    justify-content: flex-end;
  }

 
}




////////////////////////////////////////////


@media (max-width: 1200px)
{
  .wishlist {
   display: none !important;
  }
 
  
}
@media (max-width: 1000px)
{
  .home {
    display: center;
  }
 .orders {
    display: none !important;
  }
  
} 

